@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

.navbar {
  font-weight: 700;
}

@media (max-width: 980px) {
  body {
    padding-top: 60px;
  }
}

body {
  padding-top: 90px;
  font-family: "Rubik", sans-serif;
}

.card-custom {
  box-shadow: 0 0.4px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heading {
  /* border-bottom: 5px solid #ed7d2b; */
  border-bottom: 5px solid #2a4f96;
  width: fit-content;
}

.button-primary {
  background-color: #2a4f96;
  color: #fefefe;
  font-weight: 400;
}

.button-primary:hover {
  background-color: #6a84b6 !important;
  color: #fefefe !important;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  color: black;
  border-bottom: 5px solid #2a4f96;
}

.nav-link.active {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-bottom: 5px solid #2a4f96 !important;
}
